/*======================
  Общие стили
======================*/

body {
  margin: 0;
  font-family: "Arial";
  font-size: 14px;
  background-color: #626262;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}

.wraper {
  margin: auto;
  max-width: 1048px;
  background-color: #ffffff;
}

.clearfix:after {/*Убираем обтекание родительского блока*/
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*======================
  Шапка
======================*/

header {
  padding: 35px 0 30px 50px;
}
header img {
  float: right;
  margin: 0 30px 0 0;
}

header > nav li {
  padding: 30px 20px;
}

.top-menu li {
  display: inline-block;
  font-size: 15px;
}

.top-menu li.active {
  text-decoration: underline;
}

.top-menu li:hover {
  text-decoration: underline;
}

.top-menu a {
  color: #7c7c7c;
}

/*======================
  Контент
======================*/

section .city {
  position: relative;
  height: 500px;
  padding: 0;
  background-image: url(../img/city-bg.png);
  background-repeat: no-repeat;
}

/*Блок с текстом и с телефоном*/
.content-city {
  float: left;
}

/*Стрелки навигации*/
.left-arrow {
  position: absolute;
  top: 45%;
  left: 10px;
  width: 70px;
  height: 70px;
  background-image: url(../img/sprite-arrow.png);
  background-repeat: no-repeat;
  
}

.right-arrow {
  position: absolute;
  top: 45%;
  right:10px;
  width: 70px;
  height: 70px;
  background: url(../img/sprite-arrow.png);
  background-position: no-repeat;
  background-position: -80px 0;
}

section .city-text {
  display: block;
  margin: 200px 65px 0 115px;
  color: #ffffff;
}

.city-text h1 {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 1.2em;
}

.city-text p {
  display: block;
  padding: 0;
}

.city-text span {
  font-weight: bold;
}

/*Зеленые кнопки*/
.content-city nav {
  margin-left: 115px;

}
.butt-city li {
  display: inline-block;
  margin: 30px 20px;
  padding: 10px 50px;
  border-radius: 3px;
  background-color: #1fb39f;
  box-shadow: 0 0 0 4px rgba(101, 101, 101, 0.5);
}

.butt-city li.active {
  border-radius: 0;
  background-color: rgba(51, 134, 123, 0.5);
}

.butt-city li:hover {
  border-radius: 0;
  background-color: rgba(51, 134, 123, 0.5);
}

.butt-city a {
  color: #ffffff;
}

/*iphone*/
section img {
 margin: 50px 0 0 0;
}



/* Центральный блок с текстом и стрелкой
=======================================*/
.content {
  position: relative;
}
.content  p {
  display: block;
  padding: 80px 0 100px 100px;
  font-size: 30px;
  font-weight: 100;
  color: #5d5d5d;
}

/*стрелка вниз*/
.bottom-arrow {
  position: absolute;
  left: 50%;
  bottom: 30px;
  width: 57px;
  height: 57px;
  background-image: url(../img/bottom-arrow.png);
  background-repeat: no-repeat;
}
/*======================
  Подвал 
======================*/